/** {
  outline: 1px solid red !important;
}*/


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

h4 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 10px;
}

h1, h3, h4 {
  color: #747704;
}

h2, .work-repo {
  color: #BCBBBB;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 5px;
}

p {
  font-weight: 200;
}

img {
  width: 100%;
}

.main-image, .header, .work {
  padding: 10px;
}

/* HEADER */

.header-img {
  display: none;
}

.col-6.header-text {
  width: 100%;
}

hr {
  border: 1px solid #BCBBBB;
  margin: 10px;
}

.header-title {
  float: right;
  line-height: 0;
  clear: both;
}



.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

/* Featured Work */

.feature-title {
  padding-left: 10px;
}

.work.col-4 {
  width: 50%;
}

.center {
  text-align: center;
}


.work-title {
  line-height: 0;
  clear: both;
  font-size: 1.5em;
}

.work-repo {
  word-wrap: break-word;
}


@media screen and (min-width: 620px) {
  .header-img {
    display: block;
  }

  .header-img > img {
    width: 100px;
  }

  .col-6.header-text {
    width: 50%;
  }

  .work-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 760px) {
  .work.col-4 {
    width: 33.33%;
  }
}