/***** FONT SETTINGS ******/
body {
  font-family: sans-serif;
}

h1,
h3,
h4,
header,
.main-overlay-text {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 2.2em;
}

h2 {
  font-weight: 400;
  font-size: 2em;
}

h4 {
  font-weight: 400;
  font-size: 1.2em;
}

p {
  font-weight: 200;
}

.main-overlay-text {
  font-size: 1.6em;
}

.work-title {
  font-size: 1.5em;
}

/***** COLOR SETTINGS ******/
h1,
h3,
h4 {
  color: #747704;
}

h2,
.work-repo {
  color: #a9a;
}

/***** GENERAL ******/
h4 {
  margin-top: 10px;
}

h2 {
  margin-bottom: 5px;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 30px 0 50px 0;
}

.main-image {
  padding: 10px;
}

/***** HEADER ******/
.col-6.profile-image-box {
  width: 20%;
}

.profile-image {
  width: 100%;
  margin-left: 10px;
}

.col-6.profile-title {
  width: 80%;
}

hr {
  border: 1px solid #bcbbbb;
  margin: 10px;
}

.name-title {
  float: right;
  line-height: 0;
  clear: both;
  padding-right: 10px;
}
/***** Main Image ******/

.main-overlay-text {
  padding-top: 20px;
}

.main-image {
  position: relative;
  overflow: hidden;
}

.main-overlay {
  position: absolute;
  top: -410px;
  left: 10px;
  color: #fff;
  z-index: 100;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: all 0.3s ease-in-out;
}

.main-image:hover .main-overlay {
  top: 10px;
  transition: all 0.3s ease-in-out;
}

/***** About ******/

.about {
  padding: 10px;
}

.col-4.about-flex,
.col-8.about-flex {
  display: block;
  width: 100%;
}

.about-image {
  border-radius: 50%;
  width: 200px;
}

.about-text {
  padding: 10px;
}

/***** Featured Work ******/

.work {
  margin-bottom: 10px;
}

.feature-title {
  padding-left: 10px;
}

.each-work {
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.col-4.work {
  width: 50%;
}

.center-text {
  text-align: center;
}

.work-detail {
  position: relative;
  padding: 0px 10px 0 10px;
}

.work-title {
  margin: 10px 0 15px 0;
  line-height: 0;
  clear: both;
}

.work-repo {
  word-wrap: break-word;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0px;
  color: #333;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  opacity: 0;
}

.each-work:hover .work-overlay {
  left: -10px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/***** FOOTER ******/
footer {
  width: 100%;
  height: 20px;
  padding-top: 10px;
  text-align: center;
  color: #879;
}

@media screen and (min-width: 620px) {

  h1 {
    font-size: 2.7em
  }

  .main-overlay-text {
    font-weight: 100;
    font-size: 3em;
    padding-top: 40px;
  }

  .col-6.profile-image-box {
    width: 50%;
  }

  .col-6.profile-title {
    width: 50%;
  }

  .profile-image {
    width: 100px;
  }

  .col-4.about-flex {
    width: 33.33%;
  }
  .col-8.about-flex {
    width: 66.66%;
  }

  .work {
    margin-bottom: 20px;
  }

  .work-title {
    font-size: 2em;
    margin: 25px 0 30px 0;
  }
}

@media screen and (min-width: 760px) {

  .main-overlay-text {
    padding-top: 70px;
  }

  .col-4.work {
    width: 33.33%;
  }
}
